[Unit]
Description=Solanum
Requires=network.target
After=network.target

[Service]
Type=simple
User=daemon
Group=daemon
ExecStart=/usr/local/bin/solanum /etc/solanum
Restart=always
RestartSec=10
RestartPreventExitStatus=255

[Install]
WantedBy=multi-user.target
Alias=solanum.service
